<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${role == 'ADMIN'}" th:text="'Администраторская панель, ' + ${username}"></title>
    <title th:if="${role == 'USER'}" th:text="'Страница пользователя, ' + ${username}"></title>
    <style>
        /* Простой CSS-стиль для кнопок */
        button {
            display: block;
            margin-bottom: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<h1>Добро пожаловать, <span th:text="${username}" id="user-name"></span>!</h1>

<p>Ваш JWT-токен: <span th:text="${jwtToken}" id="jwt-token"></span></p>

<button onclick="otpRequest(this)" id="phone">Проверка номера телефона</button>
<button onclick="otpRequest(this)" id="telegram">Проверка Telegram</button>
<button onclick="otpRequest(this)" id="email">Проверка Email</button>

<!-- Специальные кнопки только для администраторов -->
<div th:if="${role == 'ADMIN'}">
    <button onclick="manageUsers()">Управление пользователями</button>
    <button onclick="editSettings()">Редактировать настройки</button>
</div>

<!-- Форма для выхода -->
<form th:action="@{/logout}" method="post">
   <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
    <button type="submit">Выход</button>
</form>

<script>

    function otpRequest(btnType) {
        const xhr = new XMLHttpRequest();
        const userName = document.getElementById("user-name").innerText;
        const jwtToken = document.getElementById("jwt-token").innerText;

        console.log("OtpRequest begin");
        console.log("User Name: ", userName);
        console.log("Jwt Token: ", jwtToken);
        console.log("Btn Type: ", btnType.id);

        xhr.open('POST', '/otp-request', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('Authorization', 'Bearer ' + jwtToken);

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                console.log("Status: ", xhr.status);
                console.log("Location: ", xhr.getResponseHeader("Location"));
                if (xhr.status === 200) {
                    console.log("Ok-Content: ", xhr.responseText);
                    document.open();
                    document.write(xhr.responseText);
                    document.close();
                } else {
                    console.log("Err: ", xhr.status);
                    console.log("content: ", xhr.responseText);
                }
            } else {
                console.log("Some differ state: ", xhr.readyState);
            }
        }

        const data = JSON.stringify(
            {
                login: userName,
                type: btnType.id
            }
        );

        xhr.send(data)
    }

    // Пример функций обработки нажатия кнопок
    function checkPhone() {
        alert("Кнопка \"Проверка номера телефона\" нажата!");
    }

    function checkTelegram() {
        alert("Кнопка \"Проверка Telegram\" нажата!");
    }

    function checkEmail() {
        alert("Кнопка \"Проверка Email\" нажата!");
    }
    // Действия администратора
    function manageUsers() {
        alert("Кнопка \"Управление пользователями\" нажата!");
    }

    function editSettings() {
        alert("Кнопка \"Редактировать настройки\" нажата!");
    }
</script>

</body>
</html>